<script src="../scripts/Weather.js"></script>

<style>
    body {
        margin: 0.2em;
    }
    
    * {
        font-family: sans-serif;
    }

    .header {
        z-index: 1;

        position: sticky;
        top: 0;
        left: 0;
        right: 0;

        color: #000;

        display: flex;
        background: green;
        justify-content: space-between;

        margin: 0;

        padding: 0.2em;

        font-size: clamp(2rem, 4vw, 3rem);
    }

    .footer {
        font-size: clamp(2rem, 4vw, 3rem);
    }


    .grid-container {
        display: grid;
        /*        grid-template-rows: auto auto;*/
        grid-auto-rows: 1fr;

        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
        /*        grid-template-rows: repeat(auto-fit, minmax(1ft, 1fr));*/
    }

    .grid-container>div {

        display: flex;
        align-items: center;

        background-color: aliceblue;

        border: 1px solid #000;
        text-align: center;
        padding: 20px;
    }

    .grid-container>div>div {
        flex: 1;
        text-align: center;
        font-size: clamp(2rem, 4vw, 3rem);
    }

</style>

<div class="header">
    <div>
        <span class="weather-name">(loading place...)</span>
    </div>
    <div><span class="weather-last-updated">...</span></div>
    <div><a href="/">Home</a></div>
</div>

<div class="grid-container">
    <div>
        <div>
            <div class="weather-temp-max"></div>
            <div class="weather-temp-avg"></div>
            <div class="weather-temp-min"></div>
        </div>
    </div>
    <div>
        <div><span class="weather-temp-feels-like"></span></div>
    </div>
    <div>
        <div>Clouds <span class="weather-clouds"></span></div>
    </div>
    <div>
        <div><a href="https://www.weather.gov/ilx/uv-index" target="_blank" class="weather-uvi-link">UV</a> <span class="weather-uvi"></span></div>
    </div>
    <div>
        <div>Wind <span class="weather-wind"></span>&nbsp;<div class="wind-direction"></div>
        </div>
    </div>
    <div>
        <div>Humidity <span class="weather-humidity"></span></div>
    </div>
    <div>
        <div>Pressure <span class="weather-pressure"></span></div>
    </div>
    <div>
        <div><span class="weather-visibility"></span></div>
    </div>
    <div class="weather-rain-container">
        <div>
            <div class="weather-rain"></div>
        </div>
    </div>
    <div>
        <div class="weather-sun">Sunrise</div>
    </div>
</div>


<div class="footer">
    <div>
        <p>Todo</p>

        <p>Humidity: Water drop background that gets more dense with higher numbers.</p>

        <p>Make clouds (and other panes) "simple information" which can be tapped to reveal more complex information.</p>

        <p>5/17 made this grid layout responsive.</p>
    </div>

    <div>Version: <span class="version"></span> (grid layout test)</div>
    <div>Refreshes every <span class="refresh"></span> seconds.</div>
    <div>Data feed refreshes every <span class="data-refresh"></span> minutes.</div>
    <div>Data: <a href="https://www.openweathermap.org" target="_blank">OpenWeatherMap</a> API</div>
    <div>Temperature may be the average of multiple samples in the area.</div>
</div>
